@import "tailwindcss";

@theme {
    --color-primary: #D00C1D;
    ----color-secondary: #FFFDEE;

    --background-primary: #D00C1D;
    --background-secondary: #FFFDEE;
}

body {
    background-color: var(--color-primary);
}